.password {
  margin-right: 8px;
}

.hided {
  background-color: #eee !important;
  border-radius: 4px;
  color: #eee !important;
  pointer-events: none;
  user-select: none;
}

.hided div {
  color: #eee;
}

.hide-btn {
  cursor: pointer;
}

.hide-btn:hover {
  color: black;
}

.avaliacao {
  cursor: pointer;
}

.result-item {
  /* background-color: #dcfffe; */
  padding: 20px;
  cursor: pointer;
  min-width: 550px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 16px;
}
